{% extends "base.html" %}

{% block content %}

<div class="container">
        <div class="columns">

            <div class="column">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, {{username}}
                            </h1>
                            <h2 class="subtitle">
                                Welcome to your dashboard
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{num_review}}</p>
                                <p class="subtitle">Reviews</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{avg_rating}}</p>
                                <p class="subtitle">Average Rating</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{num_beers}}</p>
                                <p class="subtitle">Beers on menu</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-half">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Top Rated Beer
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_rated1}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_rated1Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_rated2}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_rated2Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_rated3}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_rated3Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_rated4}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_rated4Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_rated5}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_rated5Num }}</h1></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Top Customers (# Reviews)
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_customer1}}</td>
                                                <td class="level-right"><h1 class="id">{{top_customer1Num  }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_customer2}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_customer2Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_customer3}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_customer3Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_customer4}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_customer4Num }}</h1></td>
                                            </tr>
                                              <tr>
                                                <td width="5%"><i class="fa fa-beer"></i></td>
                                                <td>{{top_customer5}}</td>
                                                <td class="level-right"><h1 class="id">{{ top_customer5Num }}</h1></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
{% endblock %}